@import '~src/styles';

//Variables
$header-min-height: 65px;
$header-topborder-height: 4px;


.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-min-height;
    border-top: $header-topborder-height solid maroon;
    border-bottom: 1px solid #CCC;
    padding: 0 25px;

    .app-header-left {
        display: flex;
        align-items: center;

        .brand-logo {
            height: 30px;

            img {
                height: 100%;
            }
        }


    }

    .app-header-right {
        display: flex;
        align-items: center;

    }

    .app-header-separator {
        margin: 0 15px;
        width: 1px;
        background: rgb(230, 230, 230);
        height: 35px;
    }

}
