<!--App Header-->
<app-header></app-header>

<!--App Modal-->
<app-modal *ngIf="modal_params.isdisplayed" [is_modal_displayed]="modal_params" (close)="toggleModal($event)"></app-modal>

<!--This is the main container. It must be included in every page since it has important stylings associated with it-->
<div class="pagecontainer">
    <!--App Loader-->
    <app-loader *ngIf="loader_params.isdisplayed" (close)="toggleLoader($event)"></app-loader>

    <!--App Message-->
    <app-message *ngIf="message_params.isdisplayed" [is_message_displayed]="message_params"></app-message>

    <div class="container">
        <header>Button Group Example</header>
        <div class="button-container">
            <div class="left">
                <button (click)="toggleModal()">Button (Normal)</button>
                <button class="outline" (click)="toggleLoader()">Button (Outline)</button>
                <button class="disabled">Button (Disabled)</button>
            </div>
            <div class="right">
                <button class="nooutline" (click)="toggleMessage()">Button (No Outline)</button>
            </div>
        </div>
    </div>

    <div class="container">
        <header>Input Group (Three Item) Example</header>
        <div class="ig ig-3">
            <div class="ig-item">
                <header class="ig-item-header">Required Input Example</header>
                <div class="ig-input ig-input-required">
                    <input class="ig-item-input" placeholder="Name">
                </div>
            </div>
            <div class="ig-item">
                <header class="ig-item-header">Dropdown Example</header>
                <div class="ig-input">
                    <app-dropdown
                        [items]="['1','2']"
                        [isMultiSelect]="true"
                        [selectedItem]="['1']"
                        [isSearchable]="true"
                        [isAddTag]="true">
                    </app-dropdown>
                </div>
            </div>
            <div class="ig-item">
                <header class="ig-item-header">Sample Text Example</header>
                <div class="ig-input">
                    <header class="ig-item-input">This is a very long text to demonstrate the capablity for text rendering.
                        This is a very long text to demonstrate the capablity for text rendering
                    </header>
                </div>
            </div>
            <div class="ig-item">
                <header class="ig-item-header">Non Required Input Example</header>
                <div class="ig-input">
                    <input class="ig-item-input" placeholder="Age">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <header>Input Group (Two Item) Example</header>
        <div class="ig ig-2">
            <div class="ig-item">
                <header class="ig-item-header">Required Input Example</header>
                <div class="ig-input ig-input-required">
                    <input class="ig-item-input" placeholder="Name">
                </div>
            </div>
            <div class="ig-item">
                <header class="ig-item-header">Dropdown Example</header>
                <div class="ig-input">
                    <app-dropdown
                        [items]="['1','2']"
                        [isMultiSelect]="true"
                        [selectedItem]="['1']"
                        [isSearchable]="true"
                        [isAddTag]="true">
                    </app-dropdown>
                </div>
            </div>
            <div class="ig-item">
                <header class="ig-item-header">Sample Text Example</header>
                <div class="ig-input">
                    <header class="ig-item-input">This is a very long text to demonstrate the capablity for text rendering.
                        This is a very long text to demonstrate the capablity for text rendering
                    </header>
                </div>
            </div>
            <div class="ig-item">
                <header class="ig-item-header">Non Required Input Example</header>
                <div class="ig-input">
                    <input class="ig-item-input" placeholder="Age">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <header>Table Example</header>
        <div class="table">
            <div class="row table-header">
                <div class="column-s">
                    ID
                </div>
                <div class="column-m">
                    Name
                </div>
                <div class="column-l">
                    Age
                </div>
                <div class="column-xl">
                    Profession
                </div>
                <div class="column">
                    Actions
                </div>
            </div>
            <div class="table-data">
                <div class="row" *ngFor="let i of [1,2,3];let index = index">
                    <div class="column-s">
                        {{index + 1}}
                    </div>
                    <div class="column-m">
                        {{'Name' + index}}
                    </div>
                    <div class="column-l">
                        {{'Name' + index}}
                    </div>
                    <div class="column-xl">
                        {{'Name' + index}}
                    </div>
                    <div class="column">
                        {{'Name' + index}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
