/* Buttons */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $btn-min-height;
    padding: 8px 15px;
    font-family: $primary-font, $secondary-font;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    color: $btn-font-color;

    border: 1px solid $btn-bg-color;
    border-radius: 3px;

    transition: .3s;
    background-color: $btn-bg-color;
    background-image: $btn-bg-image;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#498493, endColorstr=#48778A);
    cursor: pointer;

    i {
        margin: 0 5px;
    }

    span {
        margin: 0 5px;
    }
}

button:hover {
    transition: 0.5s;
}

button:focus {
    outline: none;
}

// Outlined
button.outline {
    background: white;
    color: $btn-bg-color;
    border: 1px solid $btn-bg-color;
}

button.nooutline {
    background: white;
    color: $btn-no-outline-font-color;
    border: none;
}

button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

