/* Containers */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    min-width: 120px;
    background-color: $accent;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: $pri-font, $sec-font;
    max-height: 38px;
    transition: 0.5s;
    font-size: 0.8em;
    box-shadow: 1px 1px 3px 0 rgba(20, 59, 101, 0.38);

    i {
        margin: 0 5px;
    }

    span {
        margin: 0 5px;
    }
}

button:hover {
    background-color: $darkaccent;
    transition: 0.5s;
}
