/* Buttons */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 3px;
    background: white;
    font-family: $pri-font, $sec-font;
    transition: 0.5s;

    i {
        margin: 0 5px;
    }

    span {
        margin: 0 5px;
    }
}

button:hover {
    transition: 0.5s;
}

button:focus {
    outline: none;
}
