/* ------------  Brand Colors  ---------------- */
$accent_color: #0278EC;
$primary_color: #0267C9;
$secondary_color: #EDF3FC;

/* -----------  Border Colors  ---------------- */
$border_color: rgb(208, 222, 230);
$border_color_input: #000;


/* -----------  Button Colors  ---------------- */
$button_background: #ff9e00;
$button_font_color: #FFF;
$button_no_outline_font_color: #000;


/* -----------  Font Colors  ------------------- */
$font_color_primary: rgb(94, 90, 95);
$font_color_secondary: rgba(9, 20, 37, 0.59);
$font_color_tertiary: rgba(0, 0, 0, 0.13);
$font_color_warning: rgb(185, 43, 52);
$font_color_tooltip: rgb(185, 43, 52);


/* -----------  Input Group Colors  ------------ */

//Input Group Params
$ig_item_font_color: #53565A;
$ig_item_placeholder_color: #98A4AE;
$ig_item_input_border_color: #CFDDE6;
$ig_input_required_color: #ED8B00;


/* -----------  Page Layout Colors  ------------ */
$page_bg_color: #F2F2F2;


/* -----------  Table Colors  ------------------ */
$table_header_bg_color: #f2f2f2;
