/* Inputs */
.ig {
    display: flex;

    .ig-item {
        min-height: 36px;
        padding: 5px 0;
        cursor: text;
        margin-bottom: 15px;

        .ig-item-header {
            font-weight: 700;
            font-size: 13px;
        }

        input, .ig-item-input {
            border: none;
            border-bottom: 1px solid #CCC;
            padding: 10px 0;
            width: 90%;
        }

        .ig-item-dropdown {
            width: 90%;
        }

        input:focus {
            outline: none;
        }
    }
}

.ig-v {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .ig-item {
        header {
            margin-bottom: 3px;
        }
    }
}

.ig-h {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .ig-item {
        header {
            margin-right: 5px;
        }
    }
}

.ig-2 {
    .ig-item {
        width: 50%;
    }

}

.ig-3 {
    .ig-item {
        width: 33%;
    }
}
