.custom-table {
    font-size: 13px;
    color: #212529;

    .table-column {
        width: 18%;
        padding: 1%;
    }

    .table-column-small {
        width: 3%;
        padding: 1%;
    }

    .table-column-medium {
        width: 8%;
        padding: 1%;
    }

    .table-column-large {
        width: 13%;
        padding: 1%;
    }

    .table-column-extra-large {
        width: 18%;
        padding: 1%;
    }

    .table-row {
        display: flex;
        align-items: center;
        min-height: 30px;
    }

    .table-header {
        background: $table-header-bg;
        font-weight: 700;
    }

    .table-data {
        max-height: 360px;
        overflow-y: auto;

        .table-row {
            border-bottom: 1px solid $border-color;
        }
    }
}


/* Sample Code for Table */
/* ----------------------------------------------------------
<div class="table">
    <div class="row table-header">
        <div class="column">
            #
        </div>
        <div class="column">
            Name
        </div>
    </div>
    <div class="table-data">
        <div class="row" *ngFor="let i of [1,2,3];let index = index">
            <div class="column">
                {{index + 1}}
            </div>
            <div class="column">
                {{'Name' + index}}
            </div>
        </div>
    </div>
</div>
 ---------------------------------------------------------- */
