/* -----------  Font Settings  ------------------- */
$primary-font: 'Nunito Sans';
$secondary-font: 'sans-serif';


/* -----------  Button Settings  ----------------- */
$btn-min-height: 34px;


/* -----------  PC Settings  ----------------- */
$pagecontainer-padding: 25px;
