/* -----------  Font Settings  ------------------- */
$pri_font_family: 'Nunito Sans';
$sec_font_family: 'sans-serif';


/* -----------  Button Settings  ----------------- */
$button_min_height: 34px;


/* -----------  PC Settings  ----------------- */
$page_padding: 25px;
