//Import Base Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";

//Import Custom Styles
@import "app/shared/stylesheets/colors.scss";
@import "app/shared/stylesheets/theme.scss";
@import "app/shared/stylesheets/fonts.scss";

@import "app/shared/stylesheets/pages.scss";
@import "app/shared/stylesheets/table.scss";

@import "app/shared/stylesheets/buttons.scss";
@import "app/shared/stylesheets/scroll.scss";
@import "app/shared/stylesheets/input.scss";


/* Global */
html, body {
    margin: 0;
    padding: 0;
    font-family: $pri_font_family, $sec_font_family;
}




