/* You can add global styles to this file, and also import other style files */
@import "app/shared/stylesheets/variables";
@import "app/shared/stylesheets/fonts";
@import "app/shared/stylesheets/buttons";
@import "app/shared/stylesheets/scroll";

/* Global */
html, body {
    margin: 0;
    padding: 0;
    font-family: @pri-font, @sec-font;
}


